body{
    margin:0px;
    background-color: #000000;
    position: absolute;
}
a{
    text-decoration: none;
}
.header-box{
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 999;
}
.top-header{
    background-color: #262626;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 15px;
}
.link{
    border: none;
    box-shadow: 0 2px 0 #6f9a37;
    background-color: #82b440;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: white;
}
.topnext{
    display:flex;
    color:white;
    background:none;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    padding:15px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    padding:15px;
    color: #e4c590;
    font-family: Arial, Helvetica, sans-serif;
}
.boxbottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.find-a-table{
    background-color: #e4c590;
    padding: 10px 50px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 10px;
    transition: all .3s ease 0s;
    vertical-align: top;
    border: solid 3px #e4c590;
}
.find-a-table:hover{
    background-color: black;
    color:white;
}
.top{
    animation-name:return;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;  
}
.middle{
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: return;
}
.bottom{
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: return;
}
@keyframes return {
0% {
    width: 100%;
}
50%{
    width: 50%;
}
100%{
    width: 100%;
}
}
.list{
    display: flex;
    flex-direction: column;
    height: 24px;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 30px;

}
.list span{
    background: #fff;
    height: 2px;
    width: 83.33333333%;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    padding: 0px;
}
.list:hover span{
    width: 100%;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-image: url(../Picture/ImageAboutus/banner-image-1.6ae18acdd16dc62fbafb.jpg);
    max-width: 100%;
    padding: 300px;
    background-position: 50%;
    opacity: .75;
}
.subtext{
    letter-spacing: .4em;
    color: #e4c590;
    font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
    font-size: 70px;
    color: #fff;
}
.container2{
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
}
.container2 .subtext img{
    margin: 30px 0px 50px 0px
}
.text{
    color:#fff;
    margin:0 auto;
    width: 80%;
    text-align: center;
    font-size: 30px;
}
.text span{
    color: #e4c590;
}
.boxcontainer{
    display: flex;
    margin: 100px 30px;
    flex-direction: row;
    align-items: center;
}
.box1 .text{
    font-size: 20px;
    width: 80%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}
.box1{
    text-align: left;
}
.box1 .subtext{
    font-size: 15px;
}
.box2{
    margin: 0px 0px 0px 50px;
}
.box3{
    padding: 0px 50px 20px 50px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    border:#e4c590 solid 1px;
}
.box3-before::before{
    content: "";
    border: #e4c590 solid 1px;
    padding: 0px 150px 595px 90px;
}
.box3-before{
    margin: 50px;
}
.container-text{
    display: flex;
    flex-direction: row;
}
.container-text .subtitle{
    text-align: center;
    width: 100%;
    margin: 30px;
}
.container-text .subtitle .subtext{
    font-size: 20px;
}
.container3{
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url(../Picture/ImageAboutus/backgroundcontainer3.png)
}
.block{
    display: flex;
    flex-direction: row;
}
.smallblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.smallblock .subtitle{
    font-size: 50px;
    margin: 30px;
}
.smallblock .text{
    font-size: 20px;
    margin: 30px;
}
.meet-our-team{
    background-color: #000000;
    padding: 10px 50px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 10px;
    transition: all .3s ease 0s;
    vertical-align: top;
    border: solid 3px #e4c590;
    color:#e4c590;
}
.meet-our-team:hover{
    background-color:#e4c590;
    color:white;
}
.container4{
    display: flex;
    flex-direction: column;
    background-color: #262626;
}
.block1{
    position: relative;
    top:-110px;
}
.block2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px;
}
.block-center{
    padding: 50px 0px;
    background-image: url(../Picture/ImageAboutus/zigzag.png);
}
.block2 .subtitle{
    padding: 50px;
}
.block4{
    display: flex;
    justify-content: flex-end;
    margin: 50px;
}
.block3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.icon{
    background-color: #000000;
    border-radius: 50%;
    margin: 20px;
}
.block-2{
    display: flex;
    align-items: center;
    margin: 50px 0px;
}
.block-3{
    display: flex;
    align-items: center;
    margin: 50px 0px;
}
.subtitle1{
    font-size: 40px;
}
.text1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.block-3 .box1{
    text-align: right;
}
.block-center{
    margin:100px;
}