/*https://mediacity.co.in/delici/static/media/separator.fc5405c5995258e079d7072ed26a6975.svg*/
*{
  font-size: 100%;
  box-sizing: border-box;
  color: #e4c590;
  border: none;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
.header{
  background: none;
  left: 0;
  min-height: 0;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
}
.header_top{
  background: none;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.left{
  padding-left: 30px;
  line-height: 30px;
}
.right{
  padding-right: 30px;
  line-height: 30px;
}
.left .icon_map{
font-size: 14px;
font-weight: 400;
line-height: 30px;
color: white;
margin-right: 70px;
}
.left .icon_map::before{
  content: "";
}
.left .icon_clock{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  margin-right: 0;
}
.right .icon_telephone{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  margin-right: 70px;
}
.right .icon_mail{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  margin-right: 0;
}
.header_bottom {
  background: none;
  border-bottom: 1px solid transparent;
  left: 0;
  padding: 0; 
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.side_bar_menu{
  margin-left: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav_menu{
  display: block;
  float: left;
  left: 0;
  padding: 0;
  top: 0;
  position: relative;
}
.hidden_menu{
  background: none;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  outline: none;
  position: relative;
  width: 30px;
}
.hamburger{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 30px;
}
.hamburger span{
  background: #fff;
  height: 2px;
  width: 83.3333%;
}
.hamburger:hover span{
  width: 100%;
}
.top_bun{
  animation-name: burger-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.bottom_bun{
  width: 58.3333%;
  animation-name: burger-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.meat{
  width: 100%;
  animation-name: burger-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.logo_box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  margin-left: 140px;
}
.logo_box .logo img{
  height: 50px;
  max-width: 100%;
}
.find_a_table{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 20px;
}
.main_box{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: black;
  letter-spacing: 3px;
  font-weight: 700;
  padding: 21px 45px;
  font-size: 12px;
  background: #e4c590;
  border: 2px solid #e4c590;
  border-radius: 0px;
  overflow: hidden;
}
.main_box:hover::before{
  top: 0%;
}
.main_box::before{
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  background: black;
}
.button_wrap{
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.text_one{
  color: black;
  display: block;
  position: relative;
}
.main_box:hover .button_wrap .text_one :first-child{
  transform: translateY(-150%);
}
.text_two{
  color: white;
  display: block;
  position: absolute;
  top: 100%;
}
.main_box:hover .button_wrap .text_two{
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container1{
  background-image: url("../Picture/ImageDiv1/Backgrounddiv1.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 890px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container1_inner{
  display: block;
  text-align: center;
}
.subtitle{
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .4em;
  margin-bottom: 10px;
}
symbol{
margin-bottom: 30px;
width: 100px;
padding-top: 13px;
}
.heading{
  font-weight: 400;
  line-height: 1em;
  font-size: 80px;
  padding-top: 35px;
}
.heading h1{
  color: white;
}
.text{
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
.view_our_menu{
  padding-top: 40px;
}
.alter_box{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #e4c590;
  letter-spacing: 3px;
  font-weight: 700;
  padding: 21px 45px;
  font-size: 12px;
  border: 2px solid #e4c590;
  border-radius: 0px;
  overflow: hidden;
}
.alter_box:hover::before{
  top: 0%;
}
.alter_box::before{
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  background: #e4c590;
}
.text_one_alter{
  color: #e4c590;
  display: block;
  position: relative;
}
.alter_box:hover .button_wrap .text_one_alter :first-child{
  transform: translateY(-150%);
}
.text_two_alter{
  color: black;
  display: block;
  position: absolute;
  top: 100%;
}
.alter_box:hover .button_wrap .text_two_alter{
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.book_a_table{
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 110px;
  height: 110px;
}
@keyframes rotateme {
    
  0% {
     transform: rotate(0deg);
     opacity: 1;
   }

 50% {
     transform: rotate(180deg);
   }
 100% {
     transform: rotate(360deg);
     opacity: 1;
   }
}
.book_a_table::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e4c590;
  transform: rotate(45deg);
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.theme_bookatable{
  background: #e4c590;
  color: black;
  display: block;
  height: 110px;
  padding: 12px 10px 0px;
  position: relative;
  text-align: center;
  width: 110px;
}
.text_bookatable{
  color: black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .15em;
  line-height: 1.5em;
}




.Space{
  padding: 100px 0px 50px;
  background-color: #131111;
}
.container2{
  background-color: #131111; 
  text-align: center; 

}
.icon2{
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.container2 .title-box .title{
  font-family: sans-serif;
  color: bisque;
  letter-spacing: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  
}
.title-name{
  font-size: 20px;
  font-family:sans-serif;
  color: aliceblue;
}
.title-box .title-text{
  margin:auto;
  max-width: 420px;
  color: white;
}
.menuDiv2{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
.menuDiv2 .left-img{
  display: flex;
  height: auto;
  max-width: 100%;
}


.menuDiv2 .menuDiv2-Breakfast{
  margin: 0px 0px 150px;
  padding: 30px 0px;
}
.menuDiv2 .menuDiv2-Breakfast .Breakfast{
  font-family: sans-serif;
  color: white; 
  text-decoration: none;
}
.menuDiv2 .menuDiv2-Breakfast .moreLink{
  color: bisque;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0px 0px 4px;
}
.menuDiv2 .menuDiv2-Appetizers{
  margin: 0px 0px 25px;
  padding-left: 150px;
  padding-right: 150px;
}
.menuDiv2 .menuDiv2-Appetizers .Appetizers{
  font-family: sans-serif;
  color: white; 
  text-decoration: none;
}
.menuDiv2 .menuDiv2-Appetizers .moreLink{
  color: bisque;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0px 0px 4px;
}
.menuDiv2 .menuDiv2-Drinks{
  margin: 0px 0px 150px;
  padding: 30px 0px;
}
.menuDiv2 .menuDiv2-Drinks .Drinks{
  font-family: sans-serif;
  color: white; 
  text-decoration: none;
}
.menuDiv2 .menuDiv2-Drinks .moreLink{
  color: bisque;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0px 0px 4px;
}
@keyframes spinner{
to{
  transform: rotate(90deg);
}
}
.our-story{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-text{
  color:white;
  font-size: 15px;
  padding: 15px;
  margin: 10px 1200px 10px 0px;
}
.book-number{
  font-size: larger;
  color: bisque;
  padding: 0px 150px 0px 50px;
}
.title {
  padding: 20px 100px
}
.title-name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.container3{
  background-color: #171819;
  padding-bottom: 210px;
  padding-top: 170px;
  position: relative;
}
.leaf-onion{
  left: 0;
  margin-top: -95px;
  position: absolute;
  top: 50%;
}
.our-story{
  padding-right: 90px;
  margin-bottom: 40px;
  text-align: center;
}
.title_box{
  margin-bottom: 30px;
}
.titlediv3{
  color: #e4c590;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .4em;
  line-height: 1em;
  margin-bottom: 10px;
  position: relative;
}
.imagediv3{
  margin: 0 auto;
  margin-bottom: 15px;
}
.title-text{
  margin: 0 auto;
  max-width: 420px;
  line-height: 1.85em;
  padding-top: 15px;
  position: relative;
}
.book-number a{
  color: #e4c590;
  padding-bottom: 5px;
}
.book-number{
  color: #e4c590;
  font-size: 24px;
  line-height: 1em;
  margin-bottom: 30px;
  position: relative;
}
.book-through-call{
  font-weight: 700;
  margin-bottom: 5px;
  position: relative;
  text-transform: capitalize;
}
.booking_info{
  position: relative;
  text-align: center;
}
.pictuve-div-3{
  position: relative;
  margin-bottom: 40px;
}
.pic2{
  
}
@keyframes rotateme {
    
  0% {
     transform: rotate(0deg);
     opacity: 1;
   }

 50% {
     transform: rotate(180deg);
   }
 100% {
     transform: rotate(360deg);
     opacity: 1;
   }
}
.round_stamp::before{
  background: url("../Picture/imgDiv3/download\(1\).png") no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.round_stamp{
  position: absolute;
  right: -60px;
  top: -65px;
  z-index: 3;
}
.twopicture{

}






.footer {
  background-image: url("../Picture/footerbackground.jpg");
  backdrop-filter: blur(48px);
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}