/*https://mediacity.co.in/delici/static/media/separator.fc5405c5995258e079d7072ed26a6975.svg*/
*{
  font-size: 100%;
  box-sizing: border-box;
  color: #e4c590;
  border: none;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../Picture/Backgrounddiv1.jpg);
}
.header{
  background: none;
  left: 0;
  min-height: 0;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
}
.header_top{
  background: none;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.container_top{
  max-width: 1780px;
  padding: 0 20px;
  margin: 0 auto;
}
.header .header_top .container_top .left ul{
  padding: 0;
  margin: 0;
}  
.header .header_top .container_top .left {
  float: left;
  line-height: 30px;
  position: relative;
  }
.header .header_top .container_top .left li{
  position: relative;
  float: left;
  margin-right: 70px;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.header .header_top .container_top .left .icon_map::before{
  content: "\f3c5";
}
.header .header_top .container_top .left .icon_clock::before{
  content: "\f3c5";
}
.header .header_top .container_top .left .icon_map::after{
  content: "\f3c5"; <!-- Them icon lap phuong-->
}
.header .header_top .container_top .right {
  float: right;
  line-height: 30px;
  position: relative;
  }
  .header .header_top .container_top .right ul{
    padding: 0;
    margin: 0;
  }  
.header .header_top .container_top .right li{
  position: relative;
  float: left;
  margin-right: 70px;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.header .header_top .container_top .right .icon_telephone::before{
  content: ;
}
.header .header_top .container_top .right .icon_mail::before{
  content: ;
}
.header .header_top .container_top .right .icon_telephone::after{
  content: ;
}
.header_bottom {
  background: none;
  border-bottom: 1px solid transparent;
  left: 0;
  padding: 0; 
  position: relative;
  top: 0;
  width: 100%;
}
.bottom_container{
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-menu{
  display: block;
  float: left;
  left: 0;
  padding: 0;
  top: 0;
  position: relative;
}
.hidden_menu{
  background: none;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  outline: none;
  position: relative;
  width: 30px;
}
.hamburger{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 30px;
}
.hamburger span{
  background: #fff;
  height: 2px;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  width: 83.3333%;
}
.bottom_bun{
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  width: 58.3333%;
}
.meat{
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  width: 100%;
}
.logo_box{
  display: block;
  margin-left: 140px;
  padding: 40px 0;
  position: relative;

}
.logo_box .logo img{
  height: 50px;
  max-width: 100%;
}
.find-a-table{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color:;
  letter-spacing: 3px;
  font-weight: 700;
  padding:11px 45px;
  font-size: 12px;
  background: #e4c590;
  border: 2px solid #e4c590;
  border-radius: 0;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
.find-a-table ::before{
  background:;
  border-radius: 50%;
  content: "";
  height: 200%;
  left: 50%;
  position: absolute;
  top: -200%;
  transform: translateX(-50%);
  transition-duration: 0.8s;
  width: 200%;
  z-index: 1;
}
.button_wrap{
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.text-one{
  color: black;
  display: block;
  position: relative;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
.text_two{
  color: white;
  display: block;
  position: absolute;
  top: 100%;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.footer {
  background-image: url("../Picture/footerbackground.jpg");
  backdrop-filter: blur(48px);
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
span{
  color: bisque;
}
.symbol{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  padding: 0px 100px;
}
.subtitle {
display: flex;
align-items: center;
flex-direction: column;
font-size: 20px;
}
.subtext{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 54px;
  color: white;
}
.text{
  color: white;
}
.link{
  padding: 25px 45px 25px 45px;
  margin: 15px;
  border-style: solid;
  color: bisque;
}
.link:hover{
  color:#131111;
  background-color: bisque;
  transition: all 1s ease-out;
}
.book{
  display: flex;
  background-color: bisque;
  color: #131111;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
  margin: auto;
  font-size:small;
  animation: antispinner 5s infinite;
  position: relative;
  left: 0;
  bottom: 0;
  top: 0;
}

@keyframes antispinner{
  to{
    transform:rotate(-90deg)
  }
}
.animation {
  border-style:solid;
  color:bisque;
  animation: spinner 5s infinite;
  padding: 0px;
  position: relative;
    left: 700px;
    top: 50px;
}
.Space{
  padding: 100px 0px 50px;
  background-color: #131111;
}
.container2{
  background-color: #131111; 
  text-align: center; 

}
.icon2{
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.container2 .title-box .title{
  font-family: sans-serif;
  color: bisque;
  letter-spacing: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  
}
.title-name{
  font-size: 20px;
  font-family:sans-serif;
  color: aliceblue;
}
.title-box .title-text{
  margin:auto;
  max-width: 420px;
  color: white;
}
.menuDiv2{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
.menuDiv2 .left-img{
  display: flex;
  height: auto;
  max-width: 100%;
}


.menuDiv2 .menuDiv2-Breakfast{
  margin: 0px 0px 150px;
  padding: 30px 0px;
}
.menuDiv2 .menuDiv2-Breakfast .Breakfast{
  font-family: sans-serif;
  color: white; 
  text-decoration: none;
}
.menuDiv2 .menuDiv2-Breakfast .moreLink{
  color: bisque;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0px 0px 4px;
}
.menuDiv2 .menuDiv2-Appetizers{
  margin: 0px 0px 25px;
  padding-left: 150px;
  padding-right: 150px;
}
.menuDiv2 .menuDiv2-Appetizers .Appetizers{
  font-family: sans-serif;
  color: white; 
  text-decoration: none;
}
.menuDiv2 .menuDiv2-Appetizers .moreLink{
  color: bisque;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0px 0px 4px;
}
.menuDiv2 .menuDiv2-Drinks{
  margin: 0px 0px 150px;
  padding: 30px 0px;
}
.menuDiv2 .menuDiv2-Drinks .Drinks{
  font-family: sans-serif;
  color: white; 
  text-decoration: none;
}
.menuDiv2 .menuDiv2-Drinks .moreLink{
  color: bisque;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0px 0px 4px;
}
@keyframes spinner{
to{
  transform: rotate(90deg);
}
}
.our-story{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-text{
  color:white;
  font-size: 15px;
  padding: 15px;
  margin: 10px 1200px 10px 0px;
}
.book-number{
  font-size: larger;
  color: bisque;
  padding: 0px 150px 0px 50px;
}
.title {
  padding: 20px 100px
}
.title-name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
.container3{
  background-color: #171819;
}