*{
  font-size: 100%;
  box-sizing: border-box;
  color: white;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}

li, ul{
  list-style: none;
}

body{
  height: 100%;
}

html{
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5{
  font-family: 'Forum', cursive;
  font-weight: 500;
}

.header{
  background: none;
  left: 0;
  min-height: 0;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header_top{
  background: none;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: 'DM sans',sans-serif;
}
.left{
  padding-left: 30px;
  line-height: 30px;
}
.right{
  padding-right: 30px;
  line-height: 30px;
}
.left .icon_map{
font-size: 14px;
font-weight: 400;
line-height: 30px;
color: white;
margin-right: 70px;
}

.left .icon_clock{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  margin-right: 0;
}
.right .icon_telephone{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  margin-right: 70px;
}
.right .icon_mail{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  margin-right: 0;
}

.header_bottom {
  background: none;
  border-bottom: 1px solid transparent;
  left: 0;
  padding: 0; 
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side_bar_menu{
  margin-left: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
}
.nav_menu{
  display: block;
  float: left;
  left: 0;
  padding: 0;
  top: 0;
  position: relative;
}
.hidden_menu{
  background: none;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  outline: none;
  position: relative;
  width: 30px;
}
.hamburger{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 30px;
}
.hamburger span{
  background: #fff;
  height: 2px;
  width: 83.3333%;
}
.hamburger:hover span{
  width: 100%;
}
.top_bun{
  animation-name: burger-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.bottom_bun{
  width: 58.3333%;
  animation-name: burger-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.meat{
  width: 100%;
  animation-name: burger-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.logo_box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  margin-left: 140px;
}
.logo_box .logo img{
  height: 50px;
  max-width: 100%;
}
.find_a_table{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 20px;
}
.main_box{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: black;
  letter-spacing: 3px;
  font-weight: 700;
  padding: 21px 45px;
  font-size: 12px;
  background: #e4c590;
  border: 2px solid #e4c590;
  border-radius: 0px;
  overflow: hidden;
}
.main_box:hover::before{
  top: 0%;
}
.main_box::before{
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  background: black;
}
.button_wrap{
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.text_one{
  color: black;
  display: block;
  position: relative;
}
.main_box:hover .button_wrap .text_one :first-child{
  transform: translateY(-150%);
}
.text_two{
  color: white;
  display: block;
  position: absolute;
  top: 100%;
}
.main_box:hover .button_wrap .text_two{
  top: 50%;
  transform: translateY(-50%);
  color: white;
}






.menu_backdrop{
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: all 300ms ease;
  cursor: pointer;
}

.menu_backdrop.is-active{
  opacity: 1;
  z-index: 9990;
  display: block;
  background: rgba(0, 0, 0, .8);
}


.hidden_web{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 360px;
  background: #0e0d0c;
  height: 100%;
  overflow-y: auto;
  z-index: 9999;
  transition: all 500ms ease-in;
  transform: translateX(-400px);
}

.hidden_web.is-active {
  left: 25%;
}



.hidden_inner{
  position: relative;
  background-color: #0e0d0b;
  padding: 75px 0 50px;
}

.hidden_inner .close_icon{
  position:absolute;
  right:30px;
  top:30px;
  cursor:pointer;
  color: white;
  font-size: 14px;
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
}

.close_icon:hover{
  color: #e4c590;
  border-color: #e4c590;
}

.close_icon:hover .material-symbols-outlined:hover{
  color: #e4c590;
}



.hidden_list{
  margin-bottom: 100px;
  padding: 0px 60px;

}


.hidden-bar.visible_web{
  opacity: 1;
  visibility: visible;
  transform: translateX(0px); 
}

.hidden_web .logo_box{
  margin-bottom: 60px;
  padding: 0px 30px;
  line-height: 50px;
  margin-left: 0;
  text-align: center;
}


.hidden_list ul{
  border-top: 1px solid hsla(0, 0%, 100%, .2);
}

.hidden_list li{
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  margin: 3px 0;
}

.hidden_list a{
  color: white;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .15em;
  line-height: 67px;
  padding: 10px 0;
  font-family: 'DM sans',sans-serif;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.hidden_list li:hover a{
  color: #e4c590;
  padding-left: 20px;
}

.hidden_list li  a::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -4px;
  height: 8px;
  width: 8px;
  border: 1px solid #e4c590;
  opacity: 0;
  visibility: hidden;
  transform: rotate(45deg);
  transition:all 300ms ease;
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hidden_list li:hover  a::before{
  opacity: 1;
  visibility: visible;
}


.hidden_inner h2{
  text-align: center;
  font-size: 50px;
  margin-bottom: 15px; 
}

.info{
  padding: 0px 20px;
  text-align: center;
}

.info li{
  color: #a7a7a7;
  line-height: 1.6em;
  margin-bottom: 10px;
  font-family: 'DM sans',sans-serif;
}
.info li a{
  color: #a7a7a7;
}

.info a:hover{
  color: #e4c590;
  transition: all 300ms ease;
}

.hidden_inner .container6_middle{
  margin: 30px 0;
}


.hidden_inner .booking_info{
  padding: 0 20px;
  text-align: center;
}



















.container1{
  background-image: url("../Picture/ImageDiv1/Backgrounddiv1.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container1_inner{
  display: block;
  text-align: center;
}
.subtitle{
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .4em;
  margin-bottom: 10px;
  font-family: 'DM Sans', sans-serif;
}
.subtitle span{
  color: #e4c590;
}
.symbol{
margin: 0 auto;
margin-bottom: 20px;
width: 100px;
padding-top: 13px;
}
.heading h1{
  font-weight: 400;
  line-height: 1em;
  font-size: 80px;
  padding-top: 20px;
}
.heading h1{
  color: white;

}
.text{
  color: white;
  margin-top: 20px;
  line-height: 1.6em;
  font-family: 'DM Sans', sans-serif;
}
.view_our_menu{
  padding-top: 40px;
}
.alter_box{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #e4c590;
  letter-spacing: 3px;
  font-weight: 700;
  padding: 21px 45px;
  font-size: 12px;
  border: 2px solid #e4c590;
  border-radius: 0px;
  overflow: hidden;
}
.alter_box:hover::before{
  top: 0%;
}
.alter_box::before{
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  background: #e4c590;
}
.text_one_alter{
  color: #e4c590;
  display: block;
  position: relative;
}
.alter_box:hover .button_wrap .text_one_alter :first-child{
  transform: translateY(-150%);
}
.text_two_alter{
  color: black;
  display: block;
  position: absolute;
  top: 100%;
}
.alter_box:hover .button_wrap .text_two_alter{
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.book_a_table{
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 110px;
  height: 110px;
}
@keyframes rotateme {
    
  0% {
     transform: rotate(0deg);
     opacity: 1;
   }

 50% {
     transform: rotate(180deg);
   }
 100% {
     transform: rotate(360deg);
     opacity: 1;
   }
}
.book_a_table::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e4c590;
  transform: rotate(45deg);
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.theme_bookatable{
  background: #e4c590;
  color: black;
  display: block;
  height: 110px;
  padding: 12px 10px 0px;
  position: relative;
  text-align: center;
  width: 110px;
}
.text_bookatable{
  color: black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .15em;
  line-height: 1.5em;
}


















.container2{
  background-color: #0e0d0c; 
  text-align: center; 
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}

.container2_left{
position: absolute;
left: 0;
bottom: 0;
animation-name: float_up_down;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.container2_right{
  position: absolute;
  right: 0;
  top: 0;
  animation-name: float_up_down;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes float_up_down {
  0% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.container2_top{
  margin: 0 auto;
  margin-bottom: -90px;
  text-align: center;
}

.container2_top .text{
  margin: 0 auto;
  max-width: 420px;
  line-height: 1.8em;
  padding-top: 15px;
  font-size: 100%;
}

.container2_top .heading h2{
  color: white;
  font-size: 60px;
  line-height: 1.2em;
}



.menuDiv2{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}


.menuDiv2 .menuDiv2-Breakfast{
  margin: 0px 0px 150px;
  padding: 30px 0px;
}

.menuDiv2 .menuDiv2-Appetizers{
  margin-top: 160px;
}

.menuDiv2 .menuDiv2-Drinks{
  margin: 0px 0px 150px;
  padding: 30px 0px;
}

.image_div2_drink{
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
}

.image_div2{
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 25px;
}

.image_div2::before{
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  top: 0;
  bottom: 0;
  background: url("../Picture/imgDiv2/pattern8.png") center repeat;
  background-size: cover;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.image_div2_drink:hover .image_div2::before{
  transform: rotateY(180deg);
  transition-delay: 0.3s;
}

.image_div2::after{
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  transform: skewX(-25deg);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.4));
}

.image_div2_drink:hover .image_div2::after{
  animation: shine 1s;
}

@keyframes shine{
  100%{
    left: 125%;
  }
}

.image_div2 img{
  position: relative;
  display: block;
  width: 100%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.image_div2_drink:hover .image_div2 img{
  transform: scale(1.04);
}

.menuDiv2 h3 a{
  color: white;
}

.menuDiv2 h3{
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 1.2em;
} 

.viewmenu{
  position: relative;
}
.viewmenu a{
  display: inline-block;
  vertical-align: top;
  font-size: px;
  color: #e4c590;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  padding-bottom:4px;
  position: relative;
}
.viewmenu a::before{
  position: absolute;
  content: '';
  left: 5px;
  right: 5px;
  bottom: -4px;
  height: 4px;
  opacity: 0;
  transform: scaleX(.2);
  border-bottom: 1px solid #e4c590;
  border-top: 1px solid #e4c590;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.viewmenu a:hover::before{
  opacity: 1;
  transform: scale(1,1);
}

.viewmenu a:hover{
  color: white;
  border-color: white;
}

















.container3{
  background-color: #171819;
  padding-bottom: 210px;
  padding-top: 170px;
  position: relative;
}
.leaf_onion{
  left: 0;
  margin-top: -95px;
  position: absolute;
  top: 50%;
}
.container3_inner{
  position:static;
  max-width:1200px;
  padding:0px 15px;
  margin:0 auto;
  display: flex;
  align-items: center;
}

.container3_left{
  text-align:center;
  margin-bottom: 40px;
  padding-right: 105px;
  padding-left: 15px; 
}

.container3_left .text{
  margin: 0 auto;
  max-width: 420px;
  line-height: 1.8em;
  padding-top: 15px;
  font-size: 100%;
  margin-bottom: 30px;
}

.container3_left .heading h2{
  color: white;
  font-size: 60px;
  line-height: 1.2em;
  width: 370px;
}

.book_through_call{
  font-weight: 700;
  margin-bottom: 5px;
  color: white;
  font-family: 'DM Sans', sans-serif;
}


.book_number{
  font-size: 24px;
  line-height: 1em;
  margin-bottom: 30px;
  font-family: 'DM Sans', sans-serif;
}

.book_number a{
  letter-spacing: 0;
}

.container3_right{
  position: relative;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.twopicture{
  padding-left: 90px;
  position: relative;
}

.pic1{
  z-index: 1;
  position: relative;
}

.pic2{
  position: absolute;
  bottom: -160px;
  left: 0;
  padding: 50px 0;
  top: auto;
  width: 285px;
  z-index: 2;
}
.twopicture .pic2::before{
  background: url('../Picture/imgDiv2/pattern8.png') 50% repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  top: 0;
  bottom: 0;
  content: '';
}
.twopicture .pic2 img{
  position: relative;
}

.round_stamp::before{
  background: url("../Picture/imgDiv3/download\(1\).png") no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.round_stamp{
  position: absolute;
  right: -60px;
  top: -65px;
  z-index: 3;
}


















.container4{
  background-color: #0e0d0c;
  position: relative;
}

.pic3{
  position: absolute;
  bottom: -170px;
  right: 0;
  z-index: 1;
}

.container4_inner{
  display: flex;
}

.container4_left{
  max-width: 50%;
}

.container4_left img{
  width: 100%;
  height: 100%;
}

.container4_right{
  position: relative;
}

.container4_right .symbol{
  margin: 0;
  margin-bottom: 20px;
}

.container4_picture{
  position: absolute;
  right: 0px;
  bottom: 140px;
}

.container4_info{
  max-width: 600px;
  position: relative;
  padding: 225px 20px 225px 130px;
}

.icondiv4{
  position: absolute;
  left: 77px;
  top: 230px;
  animation-name: float_up_down;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.container4_info .heading h2{
  color: white;
  font-size: 60px;
  line-height: 1.2em;
  width: 450px;
}


.price{
  line-height: 30px;
  font-family: 'DM Sans', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

.old{
  color: #595653;
  font-size: 18px;
  padding-right: 20px;
}

.new{
  color: #e4c590;
  font-size: 24px;
}













.container5{
  background-color: #171819;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container5_left{
  position: absolute;
  left: 0;
  top: 0;
  animation-name: float_up_down;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container5_right{
  position: absolute;
  right: 0;
  bottom: 0;
  animation-name: float_up_down;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container5_inner{
  max-width: 1200px;
  margin: 0 auto;
}

.container5_top{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.container5_top .heading h2{
  color: white;
  font-size: 60px;
  line-height: 1.2em; 
  width: 450px;
}

.container5_schedule{
  border-top: 1px solid hsla(0, 0%, 100%, .2);
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);
  margin-bottom: 50px;
  padding: 25px 217px;
  display: flex;
  justify-content: space-evenly;
}

.timetable{
  font-family: 'Forum', cursive;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  color: white;
  position: relative;
}

.timetable::before{
  content: '';
  left: 0;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 5px;
  border-top: 1px solid #e4c590;
  border-bottom: 1px solid #e4c590;
  transform: scaleX(1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}


.timetable::after{
  content: '';
  position: absolute;
  left: 100%;
  margin-left: 36px;
  top: 50%;
  margin-top: -5px;
  height: 8px;
  width: 8px;
  border: 1px solid #e4c590;
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.timetable:last-child::after{
  display: none;
}

.container5_menu{
  display: flex;
}


.container5_menuleft{
  padding-left: 15px;
  padding-right: 95px;
  max-width: 50%;
}

.container5_menuright{
  padding-left: 95px;
  padding-right: 15px;
  max-width: 50%;
}



.container5_menuleft::after{
  content: "";
  bottom: 270px;
  border-right: 1px solid hsla(0,0%,100%,.2);
  position: absolute;
  right: 755px;
  top: 422px;
}

.dish{
  position: relative;
  margin-bottom: 55px;
  padding-top: 10px;
  padding-left: 120px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.dish_img{
  border-radius: 22px;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
  background-color: #e4c590;
}

.dish_img img{
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.dish:hover .dish_img img{
  opacity: 0.7;
  transform: scale(1.05,1.05);
}



.dish_title{
  margin-bottom: 10px;
  line-height: 24px;
  font-family: "Forum", cursive;
  position: relative;
}

.dish_title::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -3px;
  width: 100%;
  height: 6px;
  border-top: 1px solid hsla(0, 0%, 100%, .2);
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);
}

.DT{
  font-size: 21px;
  line-height: 1.2em;
  padding-right: 15px;
  float: left;
  background-color: #171819;
  position: relative;
  font-family: "Forum", cursive;
}

.DT h5{
  color: white;
}

.DT h5:hover{
  color: #e4c590;
}

.PRICE{
  font-size: 22px;
  padding-left: 15px;
  float: right;
  background-color: #171819;
  position: relative;
}
.PRICE span{
  color: #e4c590;
}

.container5_open{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open_time{
  color: white;
  margin-bottom: 25px;
  font-family: 'DM sans', sans-serif;
  font-weight: 400;
}

.dish_text{
  font-size: 14px;
  color: #a7a7a7;
  line-height: 1.6em;
  font-family: 'DM sans', sans-serif;
}














.container6{
  background: black;
  padding-top: 120px;
  padding-bottom: 340px;
  position: relative;
  height: 100%;
}

.container6_img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.30;
}


.container6_inner{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container6_top{
  width: 880px;

}

.quote{
  font-family: 'Forum',cursive;
  font-size: 70px;
  line-height: 0.7em;
  color: white;
  position: relative;

}
.quote_text{
  font-family: 'Forum', cursive;
  font-size: 50px;
  line-height: 1.4em;
  color: white;
  position: relative;
}

.container6_middle{
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.container6_middle span{
  display: inline-block;
  position: relative;
  height: 8px;
  width: 8px;
  border: 1px solid #e4c590;
  animation-name: rotateme;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.author{
  position: relative;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #e4c590;
  font-family: 'DM sans', sans-serif;
}


.container6_avatar img{
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}


.container6_avatar{
  margin-bottom: 15px;
}
















.container7{
  background: #171819;
  bottom: 0;
  height: 660px;
  left: 0;
  right: 0;
}


.container7_inner{
  background-color: #0e0d0c;
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: -270px;
  top: -137px;
  height: 100%;
}

.container7_left{
  background-color: #0e0d0c;
  padding: 75px 60px 60px;
  width: 70%;
}

.container7_left_top{
  margin-bottom: 40px;
  text-align: center;
  font-family: 'DM sans', sans-serif;
}

.container7_left_top h2{
  font-size: 60px;
  font-family: 'Forum', cursive;
  line-height: 1.2em;
}

.container7_left_top a {
  color: #e4c590;
}

.form_group7{
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
  position: relative;
  
}

.form_1{
  display: flex;
}

.form_1 .form_group7{
  width: 50%;
}

.form_2{
  display: flex;
}

.form_2 .form_group7{
  width: 33.3%;
}



.form_group7 input[type="text"],
.form_group7 input[type="date"],
.form_group7 input[type="time"],
.form_group7 input[type="email"],
.form_group7 textarea,
.form_group7 select{
  height: 56px;
  width: 100%;
  font-size: 16px;
  color: white;
  line-height: 34px;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #1a1b1c;
  border: 1px solid hsla(0,0%,100%,.1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.form_group7 input[type="text"]:focus,
.form_group7 input[type="date"]:focus,
.form_group7 input[type="time"]:focus,
.form_group7 input[type="email"],
.form_group7 textarea:focus,
.form_group7 select:focus{
  border-color: #e4c590;
}

::placeholder{
  color: white ;
}



input{
  font-family: 'DM sans', sans-serif;
}



.container7_right{
  background: url("../Picture/ImgDiv6/pattern-2.dc00536f4043fe5c87ed.png") repeat;
  padding: 75px 20px 55px;
  text-align: center  ;
  width: 30%;
}

.container7_right .heading{
  font-size: 60px;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 40px;
}


.container7_right .container6_middle{
  margin:-10px 0px 20px 0px;
}


.container7_right li{
  color: #a7a7a7;
  line-height: 1.5em;
  margin-bottom: 25px;
  font-family: 'DM sans', sans-serif;
}

.container7_right strong{
  color: white;
  margin-bottom: 5px;
}























.container8{
  padding: 100px 0px 60px;
  background-color: #171819;
  position: relative;
}


.container8_inner{
  max-width: 1200px;
  margin: 0 auto;
}

.container8_left{
  position: absolute;
  bottom: 80px;
  left: 0;
}

.container8_right{
  position: absolute;
  right: 0;
  top: -100px;
}

.container8_top{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.container8_top h2{
  color: white;
  font-size: 60px;
  line-height: 1.2em; 
  width: 450px;
}

.container8_bottom{
  display: flex;

}

.container8_box1{
  text-align: center;
  margin-bottom: 40px;
  padding: 30px 40px 40px;
  background: #151616;
}

.container8_box2{
  text-align: center;
  margin-bottom: 40px;
  padding: 30px 40px 40px;
  background: #121111;
}

.container8_icon{
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.container8_box1:hover .container8_icon,
.container8_box2:hover .container8_icon{
  transform: scale(-1) rotate(180deg);
}

.container8_box1 h4, .container8_box2 h4{
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 1.2em;
  font-weight: 500;
  font-family: 'Forum', cursive;
}

.container8_box1 .text, .container8_box2 .text{
  color: #a7a7a7;
  font-size: 14px;
  line-height: 1.6em;
  font-family: 'DM sans', sans-serif;
}
















.container9{
  background-color: #171819;
  padding: 100px 0px 60px;
  position: relative;
}

.container9_inner{
  max-width: 1200px;
  margin: 0 auto;
}
.container9_left{
  position: absolute;
  left: 0;
  bottom: 0;
}

.container9_right{
  position: absolute;
  right: 0;
  top: 0;
}

.container9_top{
  text-align: center;
  margin-bottom: 40px;
}

.container9_top h2{
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 500;
}

.container9_bottom{
display: flex;
justify-content: center;
}



.container9_img{
  margin-bottom: 15px;
  position: relative;
}

.container9_img .hidden_effect{
  position:absolute;
  content:'';
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  display: flex;
  justify-content:center;
  align-items: center;
  transition: all 0.9s ease;
  transition: transform 0.4s;
  transform: scale(0,1);
  transform-origin: right center;
  background-position: center center;
}

.container9_img .hidden_effect::before{
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.4;
  background-color: #e4c590;
}

.container9_chef:hover .hidden_effect{
  transform: scale(1,1);
  transform-origin: left center;
}

.container9_ img .hidden_effect_inner{
  position: relative;
  text-align: center;
}

.social_box{
  position: relative;
}

.social_box li{
  display: inline-block;
  margin: 0 1px;
  position: relative;
}

.social_box li a {
  position:relative;
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  display:inline-block;
  color: white;
  background-color: black;
}

.social_box li a:hover{
  background: #e4c590;
  color: #0e0d0c;
}

.container9_chef{
  margin-bottom: 40px;
  padding: 0 25px;
}

.container9_chef h3{
  font-size: 35px;
  font-family: 'Forum', cursive;
  line-height: 1.2em;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.container9_chef h3:hover{
  color: #e4c590;

}

.container9_chef span{
  color: #e4c590;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4em;
  margin-bottom: 5px;
  position: relative;
  font-family: 'DM sans', sans-serif;
}

.container9_chef .text{
  color: #a7a7a7;
  font-size: 14px;
  position: relative;
  line-height: 1.6em;
  font-family: 'DM sans', sans-serif;
}





















.container10{
  background: black;
  padding: 100px 0 25px;
  position: relative;
}

.container10_img{
  background-image: url("../Picture/imgdiv10/image-3.e321bbcd23fb672a86e4.jpg");
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
}

.container10_inner{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.container10_top{
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.container10_top h2{
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 500;
}

.container10_top .heading{
  margin-bottom: 40px;
}

.play_button{
  display: block;
  height: 90px;
  margin: 0 auto;
  position: relative;
  width: 90px;
}

.theme_button{
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  display: block;
  font-size: 18px;
  height: 90px;
  line-height: 112px;
  position: relative;
  text-align: center;
  width: 90px;
  transition: all 0.3s ease;
}

.theme_button:hover{
  color: #e4c590;
  border-color: #e4c590;
}

.theme_button span{
  font-size: 35px;
}

.theme_button span:hover{
  color: #e4c590;
  transition: all 0.3s ease;
}

.wave,
.wave::before,
.wave::after{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 90px;
  height: 90px;
  border-radius:50%;
  margin-top:-1px;
  margin-left:-1px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  animation: ripple 3s infinite;
}

.wave::before{
  animation-delay: 0.9s;
  content: "";
  position: absolute;
}

.wave::after{
  animation-delay: 0.6s;
  content: "";
  position: absolute;
}

@keyframes ripple {
  70% {box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);}
  100% {box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);}
}

.container10_top h3{
  font-size: 50px;
  margin-bottom: 30px;
}

.container10_top h4{
  color: #e4c590;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4em;
  position: relative;
  text-transform: uppercase;
}


.container10_bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-top: 75px;
  position: relative;
}

.container10_bottom::before{
  background: url("../Picture/imgdiv10/pattern-10.8584fd075420cc25392a.png") 0 0 repeat;
  content: "";
  height: 18px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.container10_bottom_inner{
  margin-bottom: 50px;
  position: relative;
  padding: 0px 15px;
}

.container10_number{
  font-family: 'Forum', cursive;
  font-size: 60px;
  line-height: 60px;
  position: relative;
}

.container10_title{
  color: #e4c590;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4em;
  line-height: 20px;
  margin-left: 15px;
  padding-top: 10px;
  position: relative;
  text-transform: uppercase;
  font-family: 'DM sans', sans-serif;
}






.footer{
  background: black;
  padding: 100px 0 70px;
  position: relative;
}

.footer_image {
  background-image: url("../Picture/footerbackground.jpg");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.footer_contain{
  text-align: center;
  max-width: 440px;
}

.footer_inner{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.footer_contain .logo{
  margin-bottom: 40px;
}

.footer_middle{
  color: #a7a7a7;
  position: relative;
  background: #0e0d0c url("../Picture/pattern_footer.png") center top repeat;
  margin: 0 auto;
  padding: 100px 30px 90px;
  position: relative;
  max-width: 1400px;
}

.footer_middle::before{
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  background: url("../Picture/pattern-9.f48b0172fd5efab9684e\ \(1\).png") 50% repeat;
}
.footer_middle::after{
  content: '';
  right: 0;
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  background: url("../Picture/pattern-9.f48b0172fd5efab9684e\ \(1\).png") 50% repeat;
}


.footer_contain{
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

.footer_left,
.footer_right {
  min-height: 100%;
  padding: 150px 15px;
  position: relative;
  text-align: center;
  width: 300px;
}

.footer_link li{
  margin-bottom: 20px;
  position: relative;
}

.footer_link .viewmenu{
  color: #a7a7a7;
  font-size: 12px;
  font-weight: 700;
  font-family: 'DM sans', sans-serif;
}

.footer_inner .viewmenu:hover{
  color: #e4c590;
}

.footer_contain h3{
  font-size: 35px;
}

.footer_contain .text{
  font-family: 'DM sans', sans-serif;
  color: #a7a7a7;
}

.footer_contain .form_group7{
  margin-top: 30px;
}


.footer_contain button {
  height: 56px;
  line-height: 15px;
  position: absolute;
  right: 6px;
  top: 0px;
  width: 180px;
}

.footer_contain .material-symbols-outlined {
  position: absolute;
    left: 23px;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    z-index: 1;
    pointer-events: none;
}

.footer_contain .form_group7 input[type="email"] {
  padding: 10px 20px 10px 40px;
}